## Preprocessing

In [31]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://raw.githubusercontent.com/bakeralexan/Charity-Funding-Predictor/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [32]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [33]:
# Determine the number of unique values in each column.

application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [34]:
# Look at APPLICATION_TYPE value counts for binning
application_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [35]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(application_value_counts[application_value_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [36]:
# Look at CLASSIFICATION value counts for binning
class_app = application_df['CLASSIFICATION'].value_counts()
class_app.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [37]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_app_full = class_app[class_app>1]
class_app_full

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [38]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(class_app[class_app < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [39]:
# Convert categorical data to numeric with `pd.get_dummies`

application_dummy = pd.get_dummies(application_df ,dtype=float)
application_dummy = application_dummy.drop(['SPECIAL_CONSIDERATIONS_N'], axis=1)
application_dummy.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# Split our preprocessed data into our features and target arrays
# IS_SUCCESSFUL = Application Type + ..... + e
X = application_dummy.drop(['IS_SUCCESSFUL'], axis=1).values
y = application_dummy['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [41]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=32, input_dim=len(X_train[0]), activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 32)                1376

 dense_5 (Dense)             (None, 32)                1056

 dense_6 (Dense)             (None, 32)                1056

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 3,521
Trainable params: 3,521
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 6s 4ms/step - loss: 0.5746 - accuracy: 0.7194
Epoch 2/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5555 - accuracy: 0.7284
Epoch 3/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5533 - accuracy: 0.7315
Epoch 4/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5508 - accuracy: 0.7309
Epoch 5/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5495 - accuracy: 0.7321
Epoch 6/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7322
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7320
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7326
Epoch 9/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7341
Epoch 10/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7331
Epoch 11/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7342
Epoch 12/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7343
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7351
Epoch 14/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 15/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 16/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 17/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7349
Epoch 18/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7362
Epoch 19/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7348
Epoch 20/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7367
Epoch 21/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 22/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7365
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7371
Epoch 24/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7369
Epoch 25/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7376
Epoch 26/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7365
Epoch 27/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7379
Epoch 28/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 29/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7361
Epoch 30/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7370
Epoch 31/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7368
Epoch 32/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7380
Epoch 33/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7376
Epoch 34/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7369
Epoch 35/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 36/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7374
Epoch 37/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 38/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7375
Epoch 39/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7368
Epoch 40/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7377
Epoch 41/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7380
Epoch 42/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 43/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7391
Epoch 44/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7374
Epoch 45/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 46/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7378
Epoch 47/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7376
Epoch 48/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7388
Epoch 49/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7383
Epoch 50/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7388
Epoch 51/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7389
Epoch 52/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7386
Epoch 53/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 54/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 55/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7388
Epoch 56/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7396
Epoch 57/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7391
Epoch 58/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7388
Epoch 59/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7392
Epoch 60/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 61/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 62/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 63/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7398
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7392
Epoch 65/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7386
Epoch 66/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7400
Epoch 67/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 68/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 69/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7389
Epoch 70/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7387
Epoch 71/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7389
Epoch 72/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7403
Epoch 73/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 74/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 75/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7394
Epoch 76/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7398
Epoch 77/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 78/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 79/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7394
Epoch 80/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 81/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 82/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 83/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7402
Epoch 84/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 85/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 86/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7389
Epoch 87/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 88/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7404
Epoch 89/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 90/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 91/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7399
Epoch 92/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 93/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7392
Epoch 94/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7406
Epoch 95/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7399
Epoch 96/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 98/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 99/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 100/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7400
Epoch 101/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7393
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 103/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7395
Epoch 104/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7395
Epoch 105/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 106/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7406
Epoch 107/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7389
Epoch 108/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 109/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7407
Epoch 110/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 111/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 112/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7404
Epoch 113/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 114/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7409
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 116/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7404
Epoch 117/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7405
Epoch 118/200
110/804 [===>..........................] - ETA: 1s - loss: 0.5359 - accuracy: 0.7366

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [50]:
# Export our model to HDF5 file
nn.save('Charity.h5')
# load it in local system then save it there

AttributeError: ignored